<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352833414422-llkofcdstuc7pcf0qubpratujmkrj106.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352833414422-llkofcdstuc7pcf0qubpratujmkrj106</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>352833414422-2k6g11cgq234o59f6cr2okn01ae24v41.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXx4ymsjgN9IS4t8O1wmsnj7ZXa81Zysc</string>
	<key>GCM_SENDER_ID</key>
	<string>352833414422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.together.buy</string>
	<key>PROJECT_ID</key>
	<string>fire-one-58ddc</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-one-58ddc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352833414422:ios:c92abb45782301a3841c37</string>
	<key>DATABASE_URL</key>
	<string>https://fire-one-58ddc.firebaseio.com</string>
</dict>
</plist>